body {
  margin: 30px;
  background: #1f2937;
}

h1 {
  padding-top: 30px;
  color: #4adf86;
}

p {
  color: #d5d4d8;
}

#generate-btn {
  color: #fff;
  background: #10b981;
  font-size: 16px;
  padding: 9px 17px;
  border-radius: 6px;
}

.flex-content-1 {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border: 3px inset #d5d4d8;
  color: #d5d4d8;
}
